@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'),
      url('fonts/Helvetica.woff2') format('woff2'),
      url('fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Light'), local('Helvetica-Light'),
      url('fonts/Helvetica-Light.woff2') format('woff2'),
      url('fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
      url('fonts/Helvetica-Bold.woff2') format('woff2'),
      url('fonts/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: Helvetica, Arial, sans-serif;
  --font-size: 1.25em;
  --font-weight: 300;
  --line-height: 1.5;
  --color-text: #232231;
  --main-color: #232231;
  --hover-color: #758cb4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure, pre {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  font-family: var(--font-family);
  font-size: 1.25em;
  font-weight: var(--font-weight);
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover,
a:focus {
  color: var(--hover-color);
}

h2 {
  font-size: 2.5em;
  font-weight: normal;  
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-text);
}

.header {
  display: grid;
  grid-column-gap: 1.875rem;
  grid-template-columns: 410px 1fr;
  grid-template-rows: repeat(4, min-content);
  max-width: 1289px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 3.125rem;
}

.navigation {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 2.5rem 0;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}

.header__image {
  grid-column: 1/2;
  grid-row: 2/4;
}

.header__wrap {
  grid-column: 2/3;
  grid-row: 2/3;
}

.header__title {
  font-weight: 700;
  font-size: 6.563em;
  line-height: 100%
}

.header__subtitle {
  font-size: 3.75em;
  line-height: 45px;
}

.header__story {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 1.875rem;
}

.story__text {
  max-width: 720px;
  min-width: 320px;
  margin-top: 0.938rem;
  font-size: 1.563em;
}

.container {
  max-width: 1289px;
  min-width: 320px;
  margin: 0 auto;
}

.wrap {
  display: grid;
  grid-template-columns: 410px 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 30px;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.contacts {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1em;
}

.contacts__item {
  position: relative;
}

.contacts__item,
.education__item {
  margin-top: 20px;
}

.contacts__item a,
.education__item a {
  font-size: 1em;
}

.contacts__item:first-child,
.education__item:first-child {
  margin-top: 30px
}

.contacts__item span{
  font-weight: 400;
}

.contacts__address,
.contacts__phone,
.contacts__mail,
.contacts__git {
  padding-left: 26px;
}

.contacts__address::after,
.contacts__phone ::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 27px;
  background-repeat: no-repeat;
  content: "";
}

.contacts__address::after {
  background-image: url("img/svg/address.svg");
}

.contacts__phone ::after{
  background-image: url("img/svg/phone.svg");
}

.contacts__mail::after,
.contacts__git::after {
  position: absolute;
  top: 3px;
  left: 0;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  content: "";
}

.contacts__mail::after {
  background-image: url("img/svg/mail.svg");
}

.contacts__git::after {
  background-image: url("img/svg/git_hub.svg");
}

.education {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 50px;
}

.education__item{
  margin-top: 20px;
}

.skills {
  grid-column: 2/3;
  grid-row: 1/3;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(189px, auto));
  grid-gap: 30px;
  margin-top: 30px;
}

.skills__item {
  position: relative;
  padding: 10px 5px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-out;
}

.skills__item:hover {
  box-shadow: 0px 7px 8px rgba(35, 34, 49, 0.32);
}

.skills__caption {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-size: 1.25em;
  font-weight: 400;
}

.skills__caption_js::before,
.skills__caption_html::before,
.skills__caption_css::before,
.skills__caption_gulp::before,
.skills__caption_sped::before,
.skills__caption_github::before,
.skills__caption_design::before,
.skills__caption_sass::before {
  position: absolute;
  top: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  content: "";
}

.skills__caption_sped::before,
.skills__caption_github::before {
  width: 54px;
  height: 54px;
}

.skills__caption_design::before {
  width: 120px;
}

.skills__caption_js::before {
  background-image: url("img/svg/JS.svg");
}

.skills__caption_html::before {
  background-image: url("img/svg/HTML.svg");
}

.skills__caption_css::before {
  background-image: url("img/svg/CSS.svg");
}

.skills__caption_gulp::before {
  background-image: url("img/svg/Gulp.svg");
}

.skills__caption_sped::before {
  background-image: url("img/svg/PageSpeed.svg");
}

.skills__caption_github::before {
  background-image: url("img/svg/GitHub.svg");
}

.skills__caption_design::before {
  background-image: url("img/svg/Design.svg");
}

.skills__caption_sass::before {
  background-image: url("img/svg/SASS.svg");
}

.skills__text {
  font-size: 0.875em;
}

.code {
  display: grid;
  grid-template-columns: 410px 1fr;
  grid-column-gap: 1.875rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.code__title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.code__text {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 1.875rem;
  font-size: 1.875em;
}

.code__codes {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 0.938rem;
  padding-left: 6.875rem
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.experience {
  grid-column: 1/2;
  grid-row: 2/3;
  min-width: 410px;
}

.experience__text {
  font-size: var(--font-size);
}

.languages dt,
.languages dd{
  font-size: var(--font-size);
}

.languages dt{
  font-weight: 400;
}

.footer {
  margin-top: 3.125rem; 
  border-top: solid var(--main-color) 1px;
  padding-bottom: 1.25rem;
}

.footer__wrap {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__link-rs path,
.footer__link-git path {
  transition: all 0.3s ease-out;
}

.footer__link-rs:hover path,
.footer__link-rs:focus path {
  stroke: var(--hover-color);
  transition: all 0.3s ease-out;
}

.footer__link-git:hover path,
.footer__link-git:focus path {
  fill: var(--hover-color);
  stroke: var(--hover-color);
  transition: all 0.3s ease-out;
}